<tr id="job-{{ j.id }}" hx-get="/application/{{ j.id }}/details" hx-target="#job-{{ j.id }}-details" hx-swap="innerHTML">
    <td class="px-4 py-2 border-t border-purple-300">{{ j.company_name }}</td>
    <td class="px-4 py-2 border-t border-purple-300">{{ j.position }}</td>
    <td class="px-4 py-2 border-t border-purple-300">{{ j.date_applied }}</td>
    <td class="px-4 py-2 border-t border-purple-300">{{ j.get_status_display }}</td>
    <td class="px-4 py-2 border-t border-purple-300">
        <button 
            class="text-purple-1000 py-2 px-4 rounded bg-purple-400 font-bold hover:bg-purple-600 hover:text-purple-100"
            hx-delete="{% url 'delete_individual' %}" 
            hx-target="#job-{{ j.id }}" 
            hx-swap="outerHTML" 
            hx-headers='{"X-Job-ID": "{{ j.id }}"}'>
            Delete
        </button>
    </td>
</tr>
<tr id="job-{{ j.id }}-details"></tr>